@import 'tailwindcss';
@import '../styles/tokens.css';

@theme {
	--animate-slow-zoom: slow-zoom 20s ease-in-out infinite alternate;
	--animate-fade-in: fade-in 2s ease-out forwards;

	@keyframes slow-zoom {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(1.1);
		}
	}
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

body {
	background-color: var(--color-bg);
	color: var(--color-accent);
	font-family: var(--font-body);
	overflow-x: hidden;
}

::selection {
	background-color: var(--color-accent);
	color: var(--color-bg);
}
