@import 'tailwindcss';
@import '../styles/tokens.css';

@theme {
	--animate-slow-zoom: slow-zoom 20s ease-in-out infinite alternate;
	--animate-fade-in: fade-in 2s ease-out forwards;

	@keyframes slow-zoom {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(1.1);
		}
	}
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

body {
	background-color: var(--color-bg);
	color: var(--color-accent);
	font-family: var(--font-body);
	overflow-x: hidden;
}

::selection {
	background-color: var(--color-accent);
	color: var(--color-bg);
}

.pill {
	background: transparent;
	border: none;
	padding: 0;
	letter-spacing: 0.4em;
	display: inline-flex;
	flex-direction: column;
	font-style: normal !important;
	font-size: 14px;
	font-weight: 500;
}

.pill::after {
	content: '';
	width: 40%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top: 8px;
}

.product-category {
	font-size: 12px;
	font-style: normal !important;
	color: #5b5b5b !important;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

p {
	color: #5b5b5b;
	line-height: 1.6em;
}
